<nav class="navbar navbar-expand-xl navbar-light">
  <a class="navbar-brand" href="#">Itchy Babies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if(currentUser) { %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link">
        <a class="nav-link" href="/">Add Today</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="/sessions/savedWeather">Saved Weather</a>
      </li>


    </ul>
  </div>
  <span class="navbar-text">
    Logged in as: <%= currentUser.email %> &nbsp;&nbsp;
  </span>
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-secondary" value="Log Out" />
  </form>

  <% } else { %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sessions/">Login</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    Not currently logged in
  </span>
  <% } %>

</nav>