<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<nav>
  <%- include('./partials/nav.ejs') %>
</nav>

<body class="container">

  <h1>Itchy Babies</h1>
  Programmatically saving data to aggregate environmental variables affecting you or your child's skin.
</body>

</html>